[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = {editable = true,git = "https://github.com/aar0ndev/black-single-quote",ref = "single-quote"}

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-security = "*"
psycopg2 = "*"
python-dateutil = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
